.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;  
}
.btn{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3;
}

.button{
    margin-top: 20px;
    border-radius: 10px;
    background-color: #dce9c8;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px ;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.img_size{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-bottom: 20px;

}